<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Document</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg ">
            <div class="container w-100">

                <a class="navbar-brand" href="/"><img src="./images/logo.png" alt="logo" class="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto nav_mid text-center">
                        <li class="nav-item active">
                            <a class="nav-link off" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link last_nav off" href="/pricing">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sign buy off mr-2" href="https://wa.me/message/XOFDQT4RS2LCK1"><i class="fas  fa-cart-plus pr-1"></i>Buy
                                Now</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <div class="container text-center text-white">
            <h2 class="py-3">DMCA</h2>
            <p>If we Have added some content that belong to you or your organization by mistake, We are sorry for that.
                We apologize for that and assure you that this wont be repeated in future. If you are rightful owner of
                the content used in our Website, Please mail us with your Name, Organization Name, Contact Details,
                Copyright infringing URL and Copyright Proof (URL or Legal Document) at
                <strong>info.zsense@gmail.com</strong></p>
            <p>I assure you that, I will remove the infringing content Within 48 Hours.</p>


        </div>
    </header>

 
    {{>javascript}}
</body>

</html>