<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Error</title>
</head>

<body>
    <header id="err_page">
        <nav class="navbar navbar-expand-lg ">
            <div class="container w-100">

                <a class="navbar-brand" href="#"><img src="./images/logo.png" alt="logo" class="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto nav_mid text-center">
                        <li class="nav-item active">
                            <a class="nav-link off" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link off" href="/register">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sign off" href="/login">login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sign buy off mr-2" href="/pay"><i class="fas  fa-cart-plus pr-1"></i>Buy Now</a>
                        </li>
                       

                    </ul>
                   
                </div>
            </div>
        </nav>
        <div class="container ">
            <h5 class='text-center text-white py-5'>Please Go to the Home Page</h5>
            <img src="images/err.png" alt="error" class='img-fluid m-auto'>
        </div>
    </header>



    {{>javascript}}
</body>

</html>