<!DOCTYPE html>
<html lang="en">

<head>
  {{>header}}

  <title>Home | Zsence</title>
</head>

<body onload="loading()">
  <div id="preLoader">
    <img src="images/preloader.gif" alt="preloader">
  </div>
  <!-- header starts here  -->

  <header>
    <nav class="navbar navbar-expand-lg ">
      <div class="container w-100">

        <a class="navbar-brand" href="/"><img src="./images/logo.png" alt="logo" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto nav_mid text-center">
            <li class="nav-item active">
              <a class="nav-link off" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                features
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item off" href="#mf">Main features</a>
                <a class="dropdown-item off" href="#fd">features in Detail</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item off" href="#fd">Optional features</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link off" href="#services">services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link off" href="#portfolio">portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link last_nav off" href="/pricing">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link off" href="#contact">contact</a>
            </li>

          </ul>
          <a class="nav-link sign off" href="/login">login</a>
          <a class="nav-link sign buy off mr-2" target="_blank" href="https://wa.me/message/XOFDQT4RS2LCK1"><i
              class="fas  fa-cart-plus pr-1"></i>Buy Now</a>
        </div>
      </div>
    </nav>
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-8 offset-2 offset-lg-2 offset-md-2">
          <h1 data-aos='zoom-out'>We build anything you want</h1>
          <p data-aos='zoom-out' data-aos-delay="120">With an initiative of making everything available online, with
            creative and dedicated team, Zsence has
            everything you need to turn your ideas into incredible products.</p>
          <div class="main_btn_grp" data-aos='zoom-in' data-aos-delay="180">
            <a href="/login" class="my_btn btn1">get started <i class="fas fa-arrow-right ml-1"></i></a>
            <a href="/about" class="my_btn btn2">about us</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-8 col-8 offset-sm-2 offset-2 offset-lg-0" data-aos='zoom-in'
          data-aos-delay="80">
          <figure class="">
            <img src="./images/p (1).png" alt="img1" class="top_img">
          </figure>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-8 col-8 offset-sm-2 offset-2 offset-lg-0" data-aos='zoom-in'
          data-aos-delay="130">
          <figure class="">
            <img src="./images/p (2).png" alt="img1" class="top_img">
          </figure>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-8 col-8 offset-sm-2 offset-2 offset-lg-0" data-aos='zoom-in'
          data-aos-delay="180">
          <figure class="">
            <img src="./images/p (3).png" alt="img1" class="top_img">
          </figure>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-8 col-8 offset-sm-2 offset-2 offset-lg-0" data-aos='fade'
          data-aos-delay="230" data-aos-duration="1500">
          <figure class="">
            <img src="./images/p (4).png" alt="img1" class="top_img">
          </figure>

        </div>
      </div>
    </div>
  </header>

  <!-- header ends here  -->

  <!-- main-features starts here  -->
  <section class="main_features" id="mf">
    <div class="container">
      <div class="row fmain">
        <div class="col-lg-8 col-md-8 col-sm-12 col-12">
          <div class="row">
            <div class="col-lg-12 col-12">
              <h5>Main features</h5>
              <h4>Zsence is a premium Web Development Startup that includes adaptable layouts and 100% Secure Platforms
                for various industries with frequent updates.</h4>

            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12 d-flex justify-content-start" data-aos='fade-up' data-aos-delay="80">
              <div class="fbox fbox1">
                <div class="mficons"><i class="fas fa-tint"></i></div>
                <h4>Modular</h4>
                <p>All components are built to be customized and used in any combination.</p>

              </div>

            </div>
            <div class="col-lg-6 col-md-6 col-12 d-flex justify-content-start" data-aos='fade-up' data-aos-delay="140">
              <div class="fbox fbox2">
                <div class="mficons"><i class="fas fa-mobile"></i></div>
                <h4>Responsive</h4>
                <p>Components and pages are optimized to work for most devices.</p>
              </div>

            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12 col-md-4" data-aos='fade-up' data-aos-delay="200">
          <div class="fbox fbox3">
            <div class="mficons"><i class="far fa-window-restore"></i></div>
            <h4>Scalable</h4>
            <p>This enables consistency while developing new features and pages.</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- main-features ends here  -->
  <!-- testimonials starts here -->
  {{>reviews}}
  <!-- testimonials ends here -->
  <!-- features_details starts here  -->
  <section class="features_details" id="fd">
    <div class="container">
      <div class="row row1 no-gutters">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12" data-aos="zoom-in">
          <div id="fdimg1" class="fdimg">

          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12" data-aos="fade-up">
          <div class="top_right">
            <h2>Need a quick Landing Page for your website?</h2>
            <h4>With Zsence you get components and examples, including tons of variables that will help you customize
              this page with ease.</h4>
            <div class="list d-flex justify-content-start">
              <div class="licons mr-2"><i class="fas  fa-clipboard"></i></div>
              <p>Perfect for modern startups</p>
            </div>
            <div class="list d-flex justify-content-start">
              <div class="licons mr-2"><i class="fas  fa-home"></i></div>
              <p>Ready to be customized</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row row2 no-gutters">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12" data-aos="fade-up">
          <h2>A modern WebSite for everyone!</h2>
          <h4>With Zsence you get components and examples, including tons of variables that will help you customize this
            page with ease.</h4>
          <div class="list d-flex justify-content-start">
            <div class="licons mr-2"><i class="fas  fa-clipboard"></i></div>
            <p>Perfect for modern startups</p>
          </div>
          <div class="list d-flex justify-content-start">
            <div class="licons mr-2"><i class="fas  fa-home"></i></div>
            <p>Ready to be customized</p>
          </div>
          <div class="list d-flex justify-content-start">
            <div class="licons mr-2"><i class="fas  fa-home"></i></div>
            <p>Designed for every devices</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 order-lg-2 order-1" data-aos="zoom-in">
          <div class="mid_right d-flex justify-content-center w-100 h-100">
            <div id="fdimg2" class="fdimg">

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- features_details ends here  -->
  <!-- service starts here  -->
  <section class="services" id="services">
    <div class="container">
      <h2 class="text-center shead" data-aos="zoom-in">Save time and money</h2>
      <h4 class="text-center sSubHead" data-aos="zoom-in">lots of developers around the world have already made Zsence
        the main tool for
        building websites.</h4>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="sinner_left">
            <div class="sinner" data-aos="fade-up">
              <div class="row">
                <div class="col-2">
                  <figure><img src="images/model (4).jpg" alt=""></figure>
                </div>
                <div class="col-7">
                  <h4>Payment to Zsence</h4>
                  <p><i class="fas fa-rupee-sign"></i>34,999</p>
                </div>
                <div class="col-3">
                  <h4>Success</h4>
                </div>
              </div>
            </div>
            <div class="sinner" data-aos="fade-up">
              <div class="row">
                <div class="col-2">
                  <figure><img src="images/model (3).jpg" alt=""></figure>
                </div>
                <div class="col-7">
                  <h4>Payment to Zsence</h4>
                  <p><i class="fas fa-rupee-sign"></i>29,999</p>
                </div>
                <div class="col-3">
                  <h4>Success</h4>
                </div>
              </div>
            </div>
            <div class="sinner" data-aos="fade-up">
              <div class="row">
                <div class="col-2">
                  <figure><img src="images/model (2).jpg" alt=""></figure>
                </div>
                <div class="col-7">
                  <h4>Payment to Zsence</h4>
                  <p><i class="fas fa-rupee-sign"></i>24,999</p>
                </div>
                <div class="col-3">
                  <h4>Success</h4>
                </div>
              </div>
            </div>
            <div class="sinner" data-aos="fade-up">
              <div class="row">
                <div class="col-2">
                  <figure><img src="images/model (1).jpg" alt=""></figure>
                </div>
                <div class="col-7">
                  <h4>Payment to Zsence</h4>
                  <p><i class="fas fa-rupee-sign"></i>34,999</p>
                </div>
                <div class="col-3">
                  <h4>Success</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 sright" data-aos="zoom-in">
          <h2>In-app Analitycs?</h2>
          <h4>Build faster and better with Zsence which has powerful and lightning fast Hard workers. You get everything
            you need to turn your ideas into incredible products.</h4>
          <div class="row">
            <div class="col-lg-12 col-12">
              <div class="row">
                <div class="col-2">
                  <i class="fas fa-cogs"></i>
                </div>
                <div class="col-10">
                  <h4>Setup your account in minutes</h4>
                  <p>Zsence is based on our custom-built framework which contains all the components you need, specially
                    designed for our themes.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <i class="fas fa-layer-group"></i>
                </div>
                <div class="col-10">
                  <h4>Easy to manage your cards</h4>
                  <p>Zsence is based on our custom-built framework which contains all the components you need, specially
                    designed for our themes.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sf text-center pt-3 " id="sfooter">
        <h5>Need more informations? Contact our sales team.</h5>
      </div>
    </div>
  </section>
  <!-- service ends here  -->

  <!-- count starts here  -->
  <section class="count" data-aos='zoom-in'>
    <div class="container text-center">
      <p class="small">Quick stats</p>
      <h2 class="chead">Just a few numbers</h2>
      <p class="csubhead">Customization has never been easier. Zsence has all the right Creativity and Experience in
        order to make your website building process a breeze.</p>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
          <div class="cinner">
            <i class="fas fa-users"></i>
            <h2><span class="cnt purecounter" data-purecounter-start="0" data-purecounter-end="97"
                data-purecounter-duration='3'>97</span>%</h2>
            <p>Happy Clients</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
          <div class="cinner">
            <i class="fas fa-headset"></i>
            <h2><span class="cnt purecounter" data-purecounter-start="0" data-purecounter-end="365"
                data-purecounter-duration='3'>365</span>X 7</h2>
            <p>Customer Support</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
          <div class="cinner">
            <i class="fas fa-window-restore"></i>
            <h2><span class="cnt purecounter" data-purecounter-start="0" data-purecounter-end="170"
                data-purecounter-duration='3'>170</span> +</h2>
            <p>Buil-In Templates</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
          <div class="cinner">
            <i class="fas fa-file-word"></i>
            <h2><span class="cnt purecounter" data-purecounter-start="0" data-purecounter-end="300"
                data-purecounter-duration='3'>300</span>+</h2>
            <p>Components and Features</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- count ends here  -->
  <!-- device starts here  -->
  {{>device}}
  <!-- device ends here  -->
  <!-- portfolio starts here  -->
  <section class="portfolio" data-aos='fade-up' id="portfolio">
    <div class="container">
      <p>Portfolio</p>
      <h2>Check our letest works</h2>

      <div class="col-lg-12 col-md-12 col-12 portfolio-menu">
        <ul>
          <li class="mbtn active" data-filter="all"> All </li>
          <li class="mbtn" data-filter="1"> Web </li>
          <li class="mbtn" data-filter="2"> Graphics </li>
          <li class="mbtn" data-filter="3"> App </li>
        </ul>
      </div>
      <div class="filter-container">
        <div class="filtr-item col-md-4" data-category="1,all" data-sort="value">
          <div class="pinnerBox box1">
            <div class="picons">
              <p>Still doubt! Please check this out </p>
              <a href="https://sr882915.github.io/spaceX.github.io/"><i class="fas fa-external-link-alt"></i></a>
            </div>
          </div>
        </div>
        <div class="filtr-item col-md-4" data-category="2, 3,all" data-sort="value">
          <div class="pinnerBox box2">
            <div class="picons">
              <p>Still doubt! Please check this out </p>
              <a href="https://sr882915.github.io/RealState.github.io/"><i class="fas fa-external-link-alt"></i></a>
            </div>
          </div>
        </div>
        <div class="filtr-item col-md-4" data-category="1, 3,all" data-sort="value">
          <div class="pinnerBox box3">
            <div class="picons">
              <p>Still doubt! Please check this out </p>
              <a href="https://sr882915.github.io/foodies.github.io/"><i class="fas fa-external-link-alt"></i></a>
            </div>
          </div>
        </div>
        <div class="filtr-item col-md-4" data-category="1,all" data-sort="value">
          <div class="pinnerBox box4">
            <div class="picons">
              <p>Still doubt! Please check this out </p>
              <a href="https://sr882915.github.io/Zomto.github.io/"><i class="fas fa-external-link-alt"></i></a>
            </div>
          </div>
        </div>
        <div class="filtr-item col-md-4" data-category="2, 1,all" data-sort="value">
          <div class="pinnerBox box5">
            <div class="picons">
              <p>Still doubt! Please check this out </p>
              <a href="https://sr882915.github.io/Zsense.github.io/"><i class="fas fa-external-link-alt"></i></a>
            </div>
          </div>
        </div>
        <div class="filtr-item col-md-4" data-category="1, 3,all" data-sort="value">
          <div class="pinnerBox box6">
            <div class="picons">
              <p>Still doubt! Please check this out </p>
              <a href=""><i class="fas fa-external-link-alt"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- portfolio ends here  -->
  <!-- team starts here  -->
  <section class="team">
    <div class="container">
      <h2 class="text-center mb-5" data-aos="zoom-in">Meet our great team</h2>
      <div class="row trow">
        <div class="col-lg-4 col-md-4 col-12 col-sm-12 tlside" data-aos="zoom-in">
          <figure>
            <img src="images/team2.jpg" alt="member1" class="timg">
            <div class="info" id="info">
              <h6>Sandip Roy</h6>
              <h4>Full Stack Web Developer</h4>
              <p>I am a passionate, creative and professional full stack web developer and will be there for you
                anytime with 100% support.I will create 100% secure, responsive websites for you. Our websites are
                tested by authorized and varified security experts to make it protected against possible threats.</p>
              <p>Connect with me : )</p>
              <div class="ticons d-flex justify-content-around">
                <div class="fb"><a target="_blank" href="https://fb.me/fb.zsense"><i
                      class="fab fa-2x fa-facebook"></i></a></div>
                <div class="whats"> <a target="_blank" href="https://wa.me/message/XOFDQT4RS2LCK1"><i
                      class="fab fa-2x fa-whatsapp"></i></a></div>
                <div class="ins"><a target="_blank"
                    href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=sr882915@gmail.com"><i
                      class="fas fa-2x fa-envelope"></i></a></div>
                <div class="twi"><a href="#"><i class="fab fa-2x fa-twitter"></i></a></div>
                <div class="tele"><a href="#"><i class="fab fa-2x fa-telegram"></i></a></div>
              </div>
            </div>
          </figure>
        </div>
        <div class="col-lg-4 col-md-4 col-12 col-sm-12 trside" data-aos="fade-up">
          <figure>
            <img src="images/team1.jpg" alt="member2" class="timg">
            <div class="info" id="info">
              <h6>Sourav Ganguly</h6>
              <h4>FrontEnd and BackEnd Developer</h4>
              <p>I am a passionate, creative and professional frontend and backend web developer and will be there
                for you anytime with 100% support.I will create 100% secure, responsive websites for you. Our websites
                are tested by authorized and varified security experts to make it protected against possible threats.
              </p>
              <p>Connect with me : )</p>
              <div class="ticons d-flex justify-content-around">
                <div class="fb"><a target="_blank" href="https://www.facebook.com/sourav.ganguly.96742"><i
                      class="fab fa-2x fa-facebook"></i></a></div>
                <div class="whats"> <a target="_blank" href="https://wa.me/qr/HUWFHTQVRNLUG1"><i
                      class="fab fa-2x fa-whatsapp"></i></a></div>
                <div class="ins"><a target="_blank"
                    href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=sg4sourav@gmail.com"><i
                      class="fas fa-2x fa-envelope"></i></a></div>
                <div class="twi"><a target="_blank" href="#"><i class="fab fa-2x fa-twitter"></i></a></div>
                <div class="tele"><a target="_blank" href="#"><i class="fab fa-2x fa-telegram"></i></a></div>
              </div>
            </div>
          </figure>
        </div>
      </div>
    </div>
  </section>

  <!-- team ends here  -->
  <!-- faq strats here  -->
  {{>faq}}
  <!-- faq ends here  -->
  <!-- contact us starts here  -->
  <section class="cntcus" data-aos="fade-up" id="contact">
    <div class="container">
      <h2>Contact Us</h2>
      <p class="py-2 text-center">for quary contact info.Zsense@gmail.com</p>
      <form action="/contact" method="POST" class="cform" id="cform" autocomplete="off">
        <div class="form-group">
          <input type="text" class="form-control" id="cname" aria-describedby="nameHelp" autocomplete="off" required
            placeholder="Enter your name" name="name">

        </div>
        <div class="form-group">
          <input type="number" class="form-control" id="cnumber" aria-describedby="numberHelp" autocomplete="off"
            required placeholder="Enter your mobile no" name="number">
          <small id="numberHelp" class="form-text text-muted">We'll never share your number with anyone else.</small>
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="cemail" aria-describedby="emailHelp" autocomplete="off" required
            placeholder="Enter your email " name="email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group ">
          <textarea name="message" id="cmessage" class="form-control" cols="30" rows="10"
            placeholder="Enter your message here" name="message" autocomplete="off" required></textarea>
        </div>
        <div class="s_btn"><button type="submit" class="my_btn">Submit</button></div>

      </form>
    </div>
  </section>
  <!-- contact us ends here  -->

  <!-- footer starts here  -->
  {{>footer}}
  <!-- footer ends here  -->
  <div class="arrow" id="arrow" onclick="myFunc()"><i class="fas fa-arrow-up "></i></div>
  <div class="bg_change"><img src="images/sun.png" alt="logo" class='star img-fluid' id="bgCng"></div>






  {{>javascript}}
  <script>
    var starIcon = document.getElementById("bgCng");
    starIcon.onclick = function () {
      document.body.classList.toggle("dark_theme");
      if(document.body.classList.contains("dark_theme")){
       document.getElementById("bgCng").setAttribute("src","images/moon.png")
      }else{
             document.getElementById("bgCng").setAttribute("src","images/sun.png")
      }
    }
  </script>

</body>

</html>