 <section class="device" data-aos='fade-up'>
    <div class="container">
      <h2 class="dhead">Works on any device</h2>
      <p class="dsubhead">Our products works on every single devices i.e computer, laptop, android, ipad etc. It's fully
        responsive with greater compatibality and support</p>
      <div class="main_btn_grp">
        <a href="#" class="my_btn btn2">Request Demo</a>
      </div>
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class="laptop">
            <img src="images/newlap.png" alt="laptop" class="img-fluid">
          </div>
        </div>
      </div>
      <p class="dfooter">I want to connect and conversation with Zsence Website .</p>
      <div class="dicons">
        <a href="https://fb.me/fb.zsense" target="_blank"><i class="fab fa-3x fa-facebook"></i></a>
        <a href="https://wa.me/message/XOFDQT4RS2LCK1" target="_blank"><i class="fab fa-3x fa-whatsapp"></i></a>
        <a href="#" target="_blank"><i class="fab fa-3x fa-telegram"></i></a>
        <a href="https://m.me/fb/zsense" target="_blank"><i class="fab fa-facebook-messenger fa-3x"></i></a>
        <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=info.zsense@gmail.com" target="_blank"><i class="fas fa-3x fa-envelope"></i></a>
      </div>
    </div>
  </section>