<footer>
    <div class="container">
      <div class="row row1">
        <div class="col-lg-6 col-md-6 col-12 col-sm-12">
          <h2>Brilliant solutions for your ideas</h2>
          <h5>Build modern looking websites fast and easy using Zsence.</h5>
        </div>
        <div class="col-lg-6 col-md-6 col-12 col-sm-12">
          <div class="main_btn_grp">
            <a href="/" class="my_btn btn1"><i class="fas fa-file-alt mr-1"></i></i>Documentation</a>
            <a target="_blank" href="https://wa.me/message/XOFDQT4RS2LCK1" class="my_btn btn2">Purchase Now</a>
          </div>
        </div>
      </div>
      <div class="row row2">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <figure><a href="/"><img src="images/logo.png" alt="logo"></a></figure>
          <p>Zsence attempts to bring the best development experience to designers and developers by offering the tools
            needed for having a quick and solid start in most web projects.</p>
          <div class="footericons">
            <a target="_blank" href="https://fb.me/fb.zsense"><i class="fab fa-facebook"></i></a>
            <a target="_blank" href="https://wa.me/message/XOFDQT4RS2LCK1"><i class="fab fa-whatsapp"></i></a>
            <a target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=info.zsense@gmail.com"><i class="fas fa-envelope"></i></a>
            <a target="_blank" href="https://m.me/fb/zsense"><i class="fab fa-facebook-messenger"></i></a>
            <a target="_blank" href="https://t.me/joinchat/fnuHOQQFtQ1hOGU9"><i class="fab fa-telegram"></i></a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
              <h5>Account</h5>
              <a href="https://fb.me/fb.zsense" target="_blank">
                <p>Profile</p>
              </a>
              <a href="/login">
                <p>Settings</p>
              </a>
              <a href="/pricing">
                <p>Billing</p>
              </a>
              <a href="/dmca">
                <p>DMCA</p>
              </a>
            </div>
            <div class="col-lg-4 col-md-4  col-sm-4 col-4">
              <h5>About</h5>
              <a href="#services">
                <p>Services</p>
              </a>
              <a href="/pricing">
                <p>Pricing</p>
              </a>
              <a href="#contact">
                <p>Contact</p>
              </a>
              <a href="/about">
                <p>about</p>
              </a>
            </div>
            <div class="col-lg-4 col-md-4  col-sm-4 col-4">
              <h5>Company</h5>
              <a target="_blank" href="https://fb.me/fb.zsense">
                <p>Community</p>
              </a>
              <a targat="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=info.zsense@gmail.com">
                <p>Help center</p>
              </a>
              <a targat="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=info.zsense@gmail.com">
                <p>Support</p>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row row3 py-3">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 d-flex justify-content-lg-start justify-content-center">
          <p><i class="far fa-copyright mr-1"></i>2021 Zsence. All rights reserved</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 d-flex justify-content-lg-end justify-content-center">
          <div class="finfo w-50 d-flex justify-content-lg-around">
            <a href="/terms">
              <p>Terms</p>
            </a>
            <a href="/privacy_policy">
              <p>Privacy</p>
            </a>
            <a href="/dmca">
              <p>DMCA</p>
            </a>

          </div>
        </div>
      </div>
    </div>
  </footer>