<ul class="navbar-nav mx-auto nav_mid text-center">
    <li class="nav-item active">
        <a class="nav-link off" href="/">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            features
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item off" href="#mf">Main features</a>
            <a class="dropdown-item off" href="#fd">features in Detail</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item off" href="#fd">Optional features</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link off" href="#services">services</a>
    </li>
    <li class="nav-item">
        <a class="nav-link off" href="#reviews">reviews</a>
    </li>
    <li class="nav-item">
        <a class="nav-link off" href="#portfolio">portfolio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link last_nav off" href="#">Pricing</a>
    </li>

</ul>