<section class="testimonials" id="reviews">
    <div class="container text-center" data-aos='zoom-in' data-aos-delay="80">
      <h3>Many developers are happy with our Service</h3>
      <h4>Start Getting fast, beautiful and modern looking websites in no time with Zsence.</h4>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner text-center">
          <div class="carousel-item active">
            <img src="images/model (1).jpg" class="d-block w-100" alt="person1">
            <h5>Business Man</h5>
            <p><i class="fas mr-1 fa-quote-left"></i>Got an excellant work from Zsence.<i
                class="fas ml-1 fa-quote-right"></i></p>
          </div>
          <div class="carousel-item">
            <img src="images/model (2).jpg" class="d-block w-100" alt="person2">
            <h5>Frelancer</h5>
            <p><i class="fas mr-1 fa-quote-left"></i>All demands fulfilled. thanks Zsense<i
                class="fas ml-1 fa-quote-right"></i></p>
          </div>
          <div class="carousel-item">
            <img src="images/model (3).jpg" class="d-block w-100" alt="person3">
            <h5>Instructer</h5>
            <p><i class="fas mr-1 fa-quote-left"></i>Amezing work . Got an beautiful and Secure Website On time.<i
                class="fas ml-1 fa-quote-right"></i></p>
          </div>
          <div class="carousel-item">
            <img src="images/model (4).jpg" class="d-block w-100" alt="person4">
            <h5>Teacher</h5>
            <p><i class="fas mr-1 fa-quote-left"></i>Our online Study center is opened only for Zsence thanks.<i
                class="fas ml-1 fa-quote-right"></i></p>
          </div>
        </div>

      </div>
    </div>
  </section>